@charset "UTF-8";

nav.menu{
    background-color: var(--cor3);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
}

.menu-left {
    width: 60px;
    display: flex;
    align-items: center;
}

.menu-center {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-right {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-left: 40px; 
    margin-right: 10px;
}


.logo-menu{
    width: 200px;
    display: block;
    margin: auto;
}

.barra-pesquisa{
    display: flex;
    width: 45%;
    min-width: 280px;
}

.barra-pesquisa input{
    flex: 1;
    padding: 8px 12px;
    border-radius: 10px 0 0 10px;
    border: none;
    outline: none;

    box-shadow: 0 4px 0 rgba(0, 0, 0, 0.073);
}

.btn-lupa{
    background-color: var(--cor2);
    padding: 0 15px;
    border: none;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
}

.icon-lupa{
    color: var(--cor4);
}

.btn-lupa:hover{
    background-color: var(--cor1);
}

.select-categorias select{
    background-color: var(--cor2);
    color: white;
    width: 180px;
    height: 35px;
    margin-left: 30px;
    text-align: center;
    border-radius: 20px;
    font-weight: bold;
    font-size: 1.1em;
    outline: none;
    box-shadow: 0 4px 0 rgba(0,0,0,0.073);

    cursor: pointer;
}

.btn-cadastrar-item{
    background-color: var(--cor2);
    color: white;
    width: 150px;
    height: 35px;
    text-decoration: none;
    text-align: center;
    border-radius: 20px;
    font-weight: bold;
    font-size: 1.1em;
    outline: none;
    margin-right: 40px;
    box-shadow: 0 4px 0 rgba(0, 0, 0, 0.073);

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.btn-cadastrar-item:hover, .select-categorias select:hover {
    background: var(--cor1);
}

.icon-cesta {
    font-size: 1.1rem;   
}

.perfil-container{
    position: relative;
    display: inline-block;
}

.perfil-icon{
    background: none;  
    border: none;       
    padding: 0;
    margin-top: 8px;    
    color: white;
    font-size: 2.2rem;
    cursor: pointer;
    transition:  transform 0.2s ease;
}

.perfil-icon:hover {
    transform: scale(1.15);
}

.perfil-dropdown {
    position: absolute;
    top: 110%;               
    right: 0;
    background-color: var(--cor2);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    overflow: hidden;
    z-index: 100;
    min-width: 150px;
}

.dropdown-item {
    display: block;
    padding: 10px 15px;
    color: white;
    text-decoration: none;
    transition: 0.2s;
}

.dropdown-item:hover {
    background-color: var(--cor3);
}

.itens{
    width: 100%;
    display: grid;
    gap: 20px;
    margin: 30px 0;
    padding: 20px 20px;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
}

.paginacao {
    margin: 25px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
}

.paginacao button {
    font-size: 1.8rem;
    border: none;
    background: transparent;
    cursor: pointer;
    transition: 0.3s;
}

.paginacao button:disabled {
    opacity: 0.3;
    cursor: not-allowed;
}

.paginacao button:hover:not(:disabled) {
    transform: scale(1.2);
}

.paginacao span {
    font-size: 1.2rem;
    font-weight: bold;
}