@charset "UTF-8";

article.page-cadastro-categoria{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

section.cadastro-categoria-container{
    background-color: #0c492a48;
    width: 500px;
    height: 350px;
    padding: 40px;
    border-radius: 10px;
}

section.cadastro-categoria-container h1{
    text-align: center;
    color: white;
    text-shadow: 1px 1px black;
}

section.cadastro-categoria-container div.input{
    width: 85%;
    height: 50px;
    margin: 30px auto;
}

section.cadastro-categoria-container button, .btn-voltar{
  width: 85%;
  height: 50px;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.253);
  background-color: var(--cor3);
  font-size: 16px;
  font-weight: bold;
  color: white;
  
  display: block;
  margin: 0 auto;

  cursor: pointer;
}

.btn-voltar{
  margin-top: 15px;
  text-decoration: none;
  text-align: center;
  padding-top: 15px;

}

section.cadastro-categoria-container button:hover, .btn-voltar:hover{
  background-color: var(--cor4);
  color: var(--cor3);
}