@charset "UTF-8";

article.page-cadastro{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

section.cadastro-container{
    width: 500px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.271);
    background-color: #0c492a48;
    padding: 25px;
}

section.cadastro-container h1{
    text-align: center;
    font-size: 30px;
    color: white;
    text-shadow: 1px 1px black;
}

section.cadastro-container div.input{
    width: 100%;
    height: 50px;
    margin: 30px auto;
}

section.cadastro-container button{
  width: 100%;
  height: 50px;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.253);
  background-color: var(--cor3);
  font-size: 16px;
  font-weight: bold;
  color: white;

  cursor: pointer;
}

section.cadastro-container button:hover{
  background-color: var(--cor4);
  color: var(--cor3);
}

section.cadastro-container div.cadastro{
    font-size: 14px;
    text-align: center;
    margin: 20px 0 10px;
    color: var(--cor4);
}

section.cadastro-container div.cadastro > p > a{
    color: var(--cor4);
    font-weight: bold;
}

section.cadastro-container div.cadastro > p > a:hover{
    color: var(--cor3);
}