@charset "UTF-8";

article.page-cadastro-categoria{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

section.cadastro-categoria-container{
    background-color: #0c492a48;
    width: 500px;
    height: 350px;
    padding: 40px;
}

section.cadastro-categoria-container h1{
    text-align: center;
    color: white;
    text-shadow: 1px 1px black;
}

