@charset "UTF-8";

.editar-perfil-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.editar-perfil-form{
    width: 500px;
    background-color: #0c492a48;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.271);
    padding: 25px;
}