@charset "UTF-8";

h1 {
    margin: 25px 0;
    text-align: center;
    color: var(--cor3);
    font-size: 2em;
}

.mensagem-vazia {
    margin: auto;
    width: 300px;
    padding: 10px;
    border: 2px solid white;
    text-align: center;
    color: var(--cor3);
    font-size: 1.1em;   
}
