@charset "UTF-8";

body{
    background: linear-gradient(to top, var(--cor2), var(--cor6));
}

article.page{
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img.logo{
    width: 150px;
    margin-bottom: 20px;
}

section.container{
    width: 500px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.271);
    background-color: #0c492a48;
    padding: 40px;
}

section.container h1{
    text-align: center;
    font-size: 30px;
    color: white;
    text-shadow: 1px 1px black;
}


div.lembranca{
    display: flex;
    margin: -15px 0 15px;
    font-size: 14.5px;
    color: white;
}


section.container div.cadastro{
    font-size: 14px;
    text-align: center;
    margin: 20px 0 10px;
    color: var(--cor4);
}

section.container div.cadastro > p > a{
    color: var(--cor4);
    font-weight: bold;
}

section.container div.cadastro > p > a:hover{
    color: var(--cor3);
}
