@charset "UTF-8";

.carrossel-custom {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.carrossel-custom button {
    background: none;
    border: none;
    font-size: 18px;
    font-weight: bold;
    color: var(--cor3);
    cursor: pointer;
}

.carrossel-custom button:disabled {
    opacity: 0.4;
    cursor: not-allowed;
}

.contador {
    font-size: 0.9rem;
    color: #252525;
}


