@charset "UTF-8";

.item-card{
    background-color: white;
    width: 100%;
    min-height: 270px;
    border-radius: 15px;
    border: 2px solid var(--cor3);
    overflow: hidden;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.100);

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    transition: transform .2s;
    cursor: pointer;
}

.item-card:hover {
    transform: scale(1.03);
}

.imagem-item {
    background-color: #f3f3f3;
    width: 100%;
    height: 180px; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagem-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-bottom: 1px solid #ddd;
}

.sem-imagem {
    color: #777;
    font-size: 1rem;
}

.item-conteudo {
    background-color: var(--cor2);
    padding: 12px;
}

.item-nome {
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 1px black;
    margin-bottom: 5px;
}

.item-descricao {
    font-size: 0.9rem;
    color: white;
    margin-bottom: 10px;
    height: 40px;
    overflow: hidden;
}

.item-status{
    color: white;
    text-shadow: 1px 1px 1px black;
    font-weight: bold;
}

.item-preco {
    font-weight: bold;
    color: var(--cor5);
}

.item-telefone {
    color: white;
    margin-top: 8px;
    font-size: 0.9rem;
}

.bnt-interesse {
    background-color: var(--cor1);
    color: white;
    margin: 12px;
    padding: 10px 0;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

.bnt-interesse:hover {
    background-color: var(--cor2);
}