@charset "UTF-8";
.informacoes p{
    margin-left: 60px;
    padding-top: 4px;
}

strong{
    color: rgb(12, 40, 12);
}

.btn-aprovar {
    background-color: green;
    color: white;
}

.btn-reprovar {
    background-color: red;
    color: white;
}

.btn-aprovar:hover{
    background-color: green;
}

.btn-reprovar:hover{
    background-color: red;
}

.icon-aprovar, .icon-reprovar{
    color: white;
    margin-right: 10px;
}

.input-motivo{
    margin-top: 10px;
    width: 150px;        
    height: 80px;        
    padding: 4px 6px;
    font-size: 0.8rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.136);
    border: 1px solid white;
    outline: none;
}



