@charset "UTF-8";

article.page-cadastro-item{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px 0;
}


section.cadastro-item-container{
    width: 600px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.271);
    background-color: #0c492a48;
    padding: 25px;
}

section.cadastro-item-container h1{
    margin-bottom: 15px;
    text-align: center;
    font-size: 30px;
    color: white;
    text-shadow: 1px 1px black;
}


section.cadastro-item-container div.input{
    width: 100%;
    height: 50px;
    margin: 30px auto;
}

section.cadastro-item-container textarea{
    width: 100%;
    height: 60px;
    background-color: var(--cor4);
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.253);
    border-radius: 40px;
    font-size: 16px;
    color: black;
    padding: 20px;
    resize: none;
}

section.cadastro-item-container input[type="number"]{
    margin-top: 8px;
}

section.cadastro-item-container select{
    width: 100%;
    background-color: var(--cor4);
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.253);
    border-radius: 40px;
    font-size: 16px;
    color: black;
    padding: 20px;
}

section.cadastro-item-container input[type="file"]{
    margin-top: 5px;
    padding: 10px;
    border-radius: 20px;
    background-color: var(--cor4);
    border: 2px solid rgba(255,255,255,0.2);
    box-shadow: 0px 0px 10px rgba(0,0,0,0.253);
}

section.cadastro-item-container button{
  width: 100%;
  height: 50px;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.253);
  background-color: var(--cor3);
  font-size: 16px;
  font-weight: bold;
  color: white;

  display: block;
  margin: 0 auto;

  cursor: pointer;
}

section.cadastro-item-container button:hover{
  background-color: var(--cor4);
  color: var(--cor3);
}
